body {
  background-color: #605270 !important;
  background-image: url(https://intranet.birmingham.ac.uk/Images/brand-resources/somes-sunset-hero-min.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;  
}

.tab-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tabs .indicator {
  background-color: #512da8;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: rgba(216, 178, 246, 0.2);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(216, 178, 246, 0.2);
}

#prog-content {
  display: flex;
  justify-content: center;
}

.form-card {
  /* margin-left: 0 !important; */
  /* margin-right: auto !important; */
  margin-top: 80px;
  /* height: 80%; */
  /* display: flex;
  justify-content: center;   */
  border-radius: 10px;
  opacity: 0.92;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  overflow: visible;
  /* font-family: 'Roboto', sans-serif; */
}

.input-container {
  display: flex;
  justify-content: center;
}

.input-field {
  margin-left: 0 !important;
}

.dropdown-content {
  max-height: 60vh;
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
}

/* .dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.btn-col {
  display: flex;
  justify-content: center;
}

.select-wrapper input.select-dropdown {
  text-align: left;
}

.header {
  text-align: center;
  background-color: #3a3b87;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.appendix {
  display: flex;
  justify-content: space-evenly;
}

.radio-options {
  padding-left: 30px;
}

.radio-span {
  color: black;
}

/* Loading spinner */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #42dbad;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #42dbad;
  border-color: #42dbad transparent #42dbad transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.prog-initializer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.mod-initializer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}

.mod-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}

.hide {
  display: none;
}

.module-year-container {
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 10px;
}

li a {
  font-size: 20px !important;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .appendix {
    flex-direction: column;
  }
}
